<!DOCTYPE html>
<html>
<head>
  <title>TestTree1</title>
   <link rel="stylesheet" href="http://jquery.bassistance.de/treeview/jquery.treeview.css" type="text/css" />
  <script type="text/javascript" src="http://jquery.bassistance.de/treeview/jquery.treeview.js"></script>
   <%= stylesheet_link_tag :all %>
   <%= stylesheet_link_tag "http://jquery.bassistance.de/treeview/jquery.treeview.css" %>
  <%= javascript_include_tag 'jquery.treeview', 'jquery-1.5','script'%>
  <%= javascript_include_tag 'http://jquery.bassistance.de/treeview/jquery.treeview.js'%>
  <%= csrf_meta_tag %>
</head>
<body>

        <!--<ul id="menu">  
		   <% for page in Page.roots %>  
			     <li><%= link_to page.name, page %></li>  
		   <% end %>  
	 </ul> --> 

<%= yield %>

</body>
</html>
